extends ../layout

block content   
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
       a.navbar-brand.js-scroll-trigger(href='/') Red de Bicicletas
  
    .container
        br
        br
        br
        br
        br
        br
        .row
            .col-8

                a.btn.btn-primary.btn-sm.active(href='/', role='button', aria-pressed='true') Volver 
                
                table.table.table-bordered.table-dark
                    thead
                        tr
                            th(scope='col') Listado de Reservas
                        tr
                            th(scope='col') desde 
                            th(scope='col') hasta 
                            th(scope='col') bicicleta 
                            th(scope='col') usuario 
                            th(scope='col') 
                            th(scope='col') 
                    tbody
                        each reserva in listReservas
                            tr
                                td(scope='row')
                                    = reserva.desde
                                td= reserva.hasta
                                td= reserva.bicicleta.toString()
                                td= reserva.usuario.nombre
                                td.text-right
                                    a.btn.btn-primary(href=`reservas/${reserva._id}/update` role="button") 
                                     i.fas.fa-calendar-times  
                                td
                                    form.inline(method='post' action=`reservas/${reserva._id}/delete`)
                                        input(type='hidden' name='reserva' value=reserva._id)
                                        button.btn.btn-primary(type='submit' name='submit_param' value='submit_value')
                                         i.fas.fa-trash 

    // Footer
    footer.footer.text-center
    // Copyright Section
    .copyright.py-4.text-center.text-white
        .container 
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-to-top.d-lg-none.position-fixed
        a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
        i.fa.fa-chevron-up
