extends ../layout

block content       
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
       a.navbar-brand.js-scroll-trigger(href='#page-top') Red de Bicicletas
  
    .container
        br
        br
        br
        br
        br
        br
        .row
            .col-24

                a.btn.btn-primary.btn-sm.active(href='/reservas', role='button', aria-pressed='true') Volver
                            
                br          
                br 

                h5 Actualizar Reserva
                h8 Modifique los valores de la reserva  
                
                
                p.alert.alert-info
                 i.fas.fa-calendar-times
                 br
                 = reserva.bicicleta.toString()
                 br
                 = reserva.usuario.usuario
                
          
                br 
                br 

                form(action=`/reservas/${reserva._id}/update` method='post')
                    label(for='desde') Desde:
                    input#desde.form-control(type="date" name='desde' required='true' value=reserva.desde) 
                    br
                    br
                    label(for='hasta') Hasta:
                    input#hasta.form-control(type="date" name='hasta' required='true' value=reserva.hasta)
                    br
                    br
                    
                    button.btn.btn-primary(type="submit") Actualizar
                    br
                    br
      
    // Footer
    footer.footer.text-center
    // Copyright Section
    .copyright.py-4.text-center.text-white
        .container 
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-to-top.d-lg-none.position-fixed
        a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
        i.fa.fa-chevron-up
