extends ../layout

block content       
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
       a.navbar-brand.js-scroll-trigger(href='#page-top') Red de Bicicletas
  
    .container
        br
        br
        br
        br
        br
        br 
        .row
            .col-24

                a.btn.btn-primary.btn-sm.active(href='/', role='button', aria-pressed='true') Volver
                            
                br          
                br 

                h5 Nueva Bicicleta
                h8 Ingrese los datos de la nueva bicicleta a registrar.
          
                br 
                br 

                form(action='/bicicletas/create' method='post')
                    label(for='code') ID:
                    input#id.form-control(type="text" placeholder="ID" name='code')
                    br
                    label(for='color') Color:
                    input#color.form-control(type="text" placeholder="color" name='color')
                    br        
                    label(for='modelo') Modelo:
                    input#modelo.form-control(type="text" placeholder="modelo" name='modelo')
                    br        
                    label(for='lat') Latitud:
                    input#lat.form-control(type="text" placeholder="latitud" name='lat')
                    br
                    label(for='lng') Longitud:
                    input#lng.form-control(type="text" placeholder="longitud" name='lng') 
                    br
                    br
                    button.btn.btn-primary(type="submit") Crear
                    br
                    br
    // Footer
    footer.footer.text-center
    // Copyright Section
    .copyright.py-4.text-center.text-white
        .container 
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-to-top.d-lg-none.position-fixed
        a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
        i.fa.fa-chevron-up
