extends ../layout

block content   
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
       a.navbar-brand.js-scroll-trigger(href='/') Red de Bicicletas
  
    .container
        br
        br
        br
        br
        br
        br
        .row
            .col-6

                a.btn.btn-primary.btn-sm.active(href='/', role='button', aria-pressed='true') Volver 
                a.btn.btn-secondary.btn-sm(href='/bicicletas/create', role='button', aria-pressed='true') Crear Bicicleta
 
                table.table.table-bordered.table-dark
                    thead
                        tr
                            th(scope='col' colspan=6) LISTADO DE BICICLETAS
                        tr
                            th(scope='col') ID
                            th(scope='col') Color
                            th(scope='col') Modelo 
                            th(scope='col' colspan=3)  
                    tbody
                        each bici in bicis
                            tr
                                td(scope='row')
                                  = bici.code
                                td= bici.color
                                td= bici.modelo
                                td.text-center
                                 a.btn.btn-primary(href=`http://www.google.com/maps/place/${bici.ubicacion[0]},${bici.ubicacion[1]}` target="_blank" role="button")   
                                  i.fas.fa-search-location
                                td.text-center
                                    a.btn.btn-primary(href=`bicicletas/${bici.code}/update` role="button") 
                                     i.fas.fa-user-edit
                                td.text-center
                                    form.inline(method='post' action=`bicicletas/${bici.code}/delete`)
                                        input(type='hidden' name='code' value=bici.code)
                                        button.btn.btn-primary(type='submit' name='submit_param' value='submit_value')
                                         i.fas.fa-trash 

    // Footer
    footer.footer.text-center
    // Copyright Section
    .copyright.py-4.text-center.text-white
        .container 
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-to-top.d-lg-none.position-fixed
        a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
        i.fa.fa-chevron-up
