extends ../layout

block content       
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
       a.navbar-brand.js-scroll-trigger(href='#page-top') Red de Bicicletas
  
    .container
        br
        br
        br
        br
        br
        br
        .row
            .col-24

                a.btn.btn-primary.btn-sm.active(href='/bicicletas', role='button', aria-pressed='true') Volver
                            
                br          
                br 

                h5 Actualizar Bicicleta
                h8 Modifique los valores de la bicicleta seleccionada.
          
                br 
                br 

                form(action=`/bicicletas/${bici.code}/update`  method='post')
                    label(for='code') ID:
                    input#id.form-control(type="text" name='code' value=bici.code)
                    br
                    label(for='color') Color:
                    input#color.form-control(type="text" name='color' value=bici.color)
                    br        
                    label(for='modelo') Modelo:
                    input#modelo.form-control(type="text" name='modelo' value=bici.modelo)
                    br        
                    label(for='lat') Latitud:
                    input#lat.form-control(type="text" name='lat' value=bici.ubicacion[0])
                    br
                    label(for='lng') Longitud:
                    input#lng.form-control(type="text" name='lng' value=bici.ubicacion[1]) 
                    br
                    br
                    button.btn.btn-primary(type="submit") Actualizar
                    br
                    br
    // Footer
    footer.footer.text-center
    // Copyright Section
    .copyright.py-4.text-center.text-white
        .container 
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-to-top.d-lg-none.position-fixed
        a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
        i.fa.fa-chevron-up
